{% extends 'base.html' %}

{% block title %}Search | Fuse Box{% endblock title %}

{% block content %}

<div class='my-4'></div>
<div class="container h-100" style="height: 300px;">
    <div class="row">
        {% if all_posts %}
        <h2 class='my-3 h2'>Your Search results :</h2>
          {% for post in all_posts reversed %}
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                {% comment %} <strong class="d-inline-block mb-2 text-primary">World</strong> {% endcomment %}
                <h3 class="mb-0">{{post.title|safe}}</h3>
                {% comment %} <div class="mb-1 text-muted">Posted by {{post.author}} <br> posted on {{post.posted_at}}</div> {% endcomment %}
                <p class="card-text mb-auto">{{post.content|safe|truncatewords:15}}</p>
                <a href="/single_post/{{post.slug}}" class="link"><button class="btn btn-primary">Continue reading</button></a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              </div>
            </div>
          </div>
          {% endfor %}
        {% endif %}
        {% if not all_posts %}

        <div class="container">
        <h2>Your search results:</h2>
        <ul>
          <li>No results found</li>
          <li>Refine your query</li>
          <li>Try some other related keywords</li>
        </ul>
      </div>
        {% endif %}
    </div>
</div>
<div class='container h-auto'>
</div>
{% endblock content %}